nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
  width: 100%
}

nav li {
  float: left;
}

nav li a {
  font-family: sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}

body {
  background-color: #acaea9;
  margin: 0;
}

.roundbox {
  border-radius: 25px;
  background: #333;
  padding: 0px;
  width: 1200px;
  height: 475px;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
}

p {
  color: white;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  color: white;
  text-align: center;
  font-family: sans-serif;
}

h2 {
  color: white;
  text-align: center;
  font-family: sans-serif;
}

a {
  font-family: sans-serif;
  color: #001101;
}



.box {
  margin: 23px 23px 23px 10px;
  border-radius: 25px;
  background: #333;
  padding: 20px;
  width: 200px;
  height: 150px;
  text-align: center;
  float: left;
}

.box:hover {
  background-color: #111;
}

#current {
  font-family: sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: green;
}

#logo {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
  float:right;
  height: 2.3%;
  width: 2.3%;
}

#title {
  font-size: 110%
}

#title ul{
  padding: 0px;
  margin: 0px;
  text-align: right;
  display:inline-block;
  vertical-align:top-right;
}

.roundbox2 {
  border-radius: 25px;
  background: #333;
  padding: 0px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
}

.roundbox2 a {
  color: white;
}

ol {
  text-align: left;
  color: white;
}

li {
  color: white;
  text-align: left;
}

}
.hr-line{
  width: 1%;
  margin: auto;
  text-align: center;
  object-position: center;
}
